<%= form_with(model: user) do |form| %>
    <div>
        <% user.errors.full_messages.each do |error| %>
            <p><%= error %></p>
        <% end %>
    </div>

    <div>
        <%= form.label :username %>
        <%= form.text_field :username %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>

    <div>
        <%= form.submit 'Create user' %>
    </div>
<% end %>